{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2 id='message'>{{ message }}</h2>
    <h3 id='message'>Profile</h3>
    <a href='/sell' class="btn btn-primary" id="sell-btn" value="Sell Tickets">Sell Tickets</a>



    <a href='/buy' class="btn btn-primary" id="buy-btn" value="Buy Tickets">Buy Tickets</a>


    <a href='/login' class="btn btn-primary" id="btn-logout" type="logout" value="logout">logout</a>
    <h4 id='message'>balance:</h4>
    <div class="ticketsBeingSold">
        <h1>Tickets Being Sold</h1>
        {% for ticket in tickets %}
            <h3>{{ ticket.ticket_name }}</h3>
            <ul>
                <li>${{ ticket.price }} </li>
                <li>{{ ticket.quantity }} available</li>
                <li>Expires on {{ ticket.expiration_date }} - read as YYYYMMDD </li>

            </ul>


        {% endfor %}
    </div>
{% endblock %}